* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.landing {
    background-color: #e0d5aa; /* Solid color background */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    color: #004974;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 2rem; /* Add margin below the logo */
}

.button-container {
    margin-top: 2rem; /* Add margin above the button container */
}

.button {
    padding: 1rem 2rem; /* Add padding to the button */
    background-color: #ffb5ad; /* Button background color */
    color: #004974;
    text-decoration: none;
    border-radius: 5px; /* Add border-radius for rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #7a7a7a; /* Button background color on hover */
}
